.App {
  text-align: center;
}
.shadow-effect {
  text-shadow: 10px 5px 4px #8ca1a5;
}
.button {
  width: 80%;
}
.item {
  font-size: 20px;
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.inline {
  display: inline;
}
.DateInput {
  width: 30%;
  border: 0;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .inline {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  .DateInput {
    width: 80%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
